---
import Hero from '../components/Hero.astro';
import About from '../components/about.astro';
import Experiencie from '../components/experiencie.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<main class="w-screen h-full pt-12 px-48 flex flex-col bg-white dark:bg-black lgn:px-10">
		<Hero/>
		<About/>
		<Experiencie/>
	</main>
</Layout>

