---

---

<section class="h-screen flex justify-center mb-40">
  <div class="degrade"></div>
  <div class="text-container">
    <h3 class="dark:text-white text-6xl font-semibold mdn:text-4xl">Sobre mi</h3>
    <p class="w-1/2 dark:text-white">
      ¡Hola! Soy <span class="text-[#ff0080]">Marcelo</span>, un apasionado
      desarrollador de software con tres años de experiencia. Graduado del
      Instituto Belgrano, me considero un autodidacta en constante crecimiento.
    </p>
    <p class="w-1/2 dark:text-white">
      Mi enfoque se centra en crear aplicaciones eficaces y eficientes, siempre
      teniendo en cuenta la experiencia del usuario. Creo que la tecnología debe
      simplificar la vida de las personas y mejorar sus experiencias diarias. <br
      />Destaco la frase <span class="text-[#ff0080]"
        >"Si puedes imaginarlo, puedes programarlo"</span
      > (Programador ATS)
    </p>
  </div>
</section>

<style>

  .degrade {
    width: 100%;
    height: 100%;
    background: linear-gradient(83.21deg, var(--degrade-color-1) 0%, var(--degrade-color-2) 100%);
    -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.7), transparent 65%);
    position: absolute;
    z-index: 1;
  }

  .text-container {
    position: absolute;
    z-index: 2; /* Coloca este contenedor sobre el fondo */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .text-overlay {
    mix-blend-mode: normal;
  }
</style>
