---

---

<<<<<<< HEAD
<div class="h-screen flex justify-center">
  <div
    class="h-1/2 w-1/2 rounded-full bg-gradient-to-r from-blue-500 via-indigo-700 to-purple-800 blur-3xl"
  >
  Holaa
  </div>
</div>
=======
<section class="w-full h-screen">
  <div class="w-48 h-64 bg-gradient-to-r from-blue-500 to-purple-600 transform hover:scale-98 hover:shadow-lg">asd</div>
</section>
>>>>>>> ed66154fcb7d8319b9bd884116458cb9a3c4aaed
