---
import {proyectos} from '../services/arrayProjects'
---

<section class="h-screen flex flex-col gap-24">
  <h1
    class="dark:text-white text-6xl mdn:text-4xl font-semibold mdn:text-center"
  >
    Experiencia
  </h1>
  <div class="flex flex-col w-full">
    {
      proyectos.map((x) => (
        <div class="w-full h-48 flex justify-between px-56 gap-28 2xln:px-14 xln:px-0 lgn:gap-10">
          <div class="flex flex-col items-center">
            <span class="circulos w-14 h-20 flex justify-center items-center rounded-full ">
              {x.id}
            </span>
            <span class="h-full w-px bg-custom-fuxia-light" />
          </div>
          <div class="content"></div>
        </div>
      ))
    }
  </div>
</section>

<style>
  .content {
    height: 90%;
    width: 100%;
    background:
      linear-gradient(#000000, #000000) padding-box,
      linear-gradient(to right, #06080a, #ff0080, #7928ca) border-box;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 15px;
  }
  .circulos {
    background: linear-gradient(90deg, #7928ca, #ff0080);
  }
</style>


