---
// import {React} from 'astro/dist/internal/runtime'
import ChangeTheme from "../services/changeTheme";
---

<header
  class="fixed w-full h-12 flex items-center justify-between z-20 px-48 lgn:px-10"
>
  <a>
    <img id="logo" class="w-12 h-auto" />
  </a>
  <ChangeTheme client:only />
</header>
