---
import Header from "../components/header.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header/>
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;400;600;700&display=swap");

  *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }

  body {
    font-family: "Lexend", sans-serif;
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background-color: #ff0080; /* Color del pulgar de la barra de desplazamiento */
  border-radius: 5px; /* Radio de los bordes del pulgar */
}


/* Cambiar el color del fondo de la barra de desplazamiento (opcional) */
::-webkit-scrollbar-track {
  background-color: #000000; /* Color del fondo */
}



</style>
